# Programming for Data Science 2023
## Homework Assigment Two
Homework activities aim at testing not only your ability to put into practice the concepts you have learned during the Lectures and Labs, but also your ability to explore the Python documentation as a resource. Above all, it is an opportunity for you to challenge yourself and practice. If you are having difficulties with the assignment reach out for support.

### Description

This homework assignment will test your capacity to **load and manipulate data with Pandas**. 
    
The goal is to develop intuition on filtering, arranging, and merging data, which will be useful for the next homework assignments.<br/>
Fill the empty cells with your code and deliver a copy of this notebook to Moodle. <br/>
    
Your submission will be graded according to the following guidelines:
1. **Execution** (does your program does what is asked from the exercise?
2. **Objectivity** (are you using the adequate libraries? are you using a library ... )
3. **Readability** of your code (including comments, variables naming, supporting text, etc ...)

<b>Comment your code properly, which includes naming your variables in a meaningful manner. Badly documented code will be penalized.</b>

This assignment is to be done in pairs, as in the first one, but remember that **you can't have the same pair as you had in Homework 1**. 

**Students that are caught cheating will obtain a score of 0 points.** <br>

Homework 2 is worth 25% of your final grade.    

The submission package should correspond to a .zip archive (.rar files are not accepted) with the following files:
1. Jupyter Notebook with the output of all the cells;
2. HTML print of your Jupyter Notebook (in Jupyter go to File -> Download as -> HTML);
3. All text or .csv files are exported as part of the exercises. Please don't upload the files downloaded/imported as part of the exercises.

**Please change the name of the notebook to "H2.\<student_1_id\>_\<student_2_id\>.ipynb", replacing \<student_id\> by your student_id.** <br>

Submission is done through the respective Moodle activity, and only one of the group members has to submit the files. <br>
The deadline is the **12th of October at 23:59**. <br>
A penalty of 1 point per day late will be applied to late deliveries. <br>
**In this notebook, you are allowed to use Pandas and Numpy.**

In [1]:
import numpy as np
import scipy
import pandas as pd

# <span style="color:brown"> Start Here </span> 

[Please Complete the following form with your details]

Student Name - Mariana Oliveira<br>
Student id - 20230429<br>
Contact e-mail - 20230429@novaims.unl.pt<br>


Student Name - Rodrigo Silva<br>
Student id - 20230536<br>
Contact e-mail - 20230536@novaims.unl.pt<br>

# <span style="color:brown"> Part 1 - Get the Data </span>

## Download and Load the World Development Indicators Dataset

We will work with the **World Development Indicators dataset**, which should be downloaded from the world bank databank.<br/>
Hence, the very first step is to download the data to your computer, you can do this by running the cell below. <br/>

**NOTE** This cell may timeout on slower connections. If you receive an error you will need to download the file manually by pasting the URL into your browser. After downloading the zip archive you will need to move it to the same folder as this notebook and then unzip it to have acees to the required files.

Alternatively you can copy and paste the url inside the .get() method into your browser.

In [2]:
# importing libraries
import requests, zipfile, io

#note this can take several minutes depending on your internet connection
r = requests.get('http://databank.worldbank.org/data/download/WDI_csv.zip')
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

# let us free the variales we used above
del z
del r

*The above code downloads a zip archive to the working folder, which by default is the the location of this notebook in your computer. <br/>
Secondly, and since the document downloaded is a zip archive, it extracts the documents from the archive. <br/> 
The contents include multiple .csv files, however we will be working only with the document 'WDIData.csv'. <br/>*

**1.** In the cell bellow, use Pandas to open the file "WDIData.csv" and **save** it to a variable called **wdi**.<br/>

**NOTE** If you see strange characters in the headings or text you may need to specify the option enconding, "ISO-8859-1" has worked previously.
Find more information at https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

In [3]:
# Open the "WDIData.csv" with pd.read_csv() function and save it as wdi
wdi = pd.read_csv("WDIData.csv")

**2.** Check the top of the dataframe to ensure it loaded correctly.

In [4]:
# Check the top of the df with head() method 
# head() -> returns the first 5 rows (or elements for a Series) by default of the DataFrame or Series
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.789043,17.196986,17.597176,18.034249,18.345878,18.695306,19.149942,19.501837,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.397917,6.580066,6.786218,6.941323,7.096843,7.254828,7.460783,7.599289,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.660864,37.857526,38.204173,38.303515,38.421813,38.482409,38.692053,38.793983,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.610692,31.824950,33.744405,38.733352,40.092163,42.880977,44.073912,45.609604,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.535523,17.485006,16.329765,24.372504,25.153292,27.227391,29.383000,30.163364,NaN,NaN

## Download and Load the Penn World Table V9.0

We will additionally use data from the pwt v9.0 tables. <br/> 

Again **run the following cell to download the dataset**. This time using the library urllib.

In [5]:
import urllib
urllib.request.urlretrieve("https://www.rug.nl/ggdc/docs/pwt90.xlsx", "pwt90.xlsx")

('pwt90.xlsx', <http.client.HTTPMessage at 0x7fb6192f6fe0>)

**3.** In the following cell, open and read the file 'pwt90.xlsx' and **save** it into variable **pwt**. <br/>

In [6]:
# Open the "pwt90.xlsx" with pd.read_excel() function and save it as pwt
# sheet_name="Data", our excel have the important data in "Data" sheet
pwt = pd.read_excel("pwt90.xlsx", sheet_name="Data")

**4.** Check the top of the dataframe to ensure it was loaded correctly.

In [7]:
# Check the top of the df with head() method 
pwt.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_g,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# <span style="color:brown"> Part 2 - Data Processing </span>

## Data Wrangling

Now that we have loaded our data we are ready to start playing with it. <br/>

**5.** Start by printing all the column values in the cell bellow.

In [8]:
# Print the column labels of both DataFrames, wdi and pwt, with the columns attribute
print(f"WDI COLUMNS\n\n{wdi.columns}\n\nPWT COLUMNS\n\n{pwt.columns}")

WDI COLUMNS

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

PWT COLUMNS

Index(['countrycode', 'country', 'currency_unit', 'year', 'rgdpe', 'rgdpo',
       'pop', 'emp', 'avh', 'hc', 'ccon', 'cda', 'cgdpe', 'cgdpo', 'ck',
       'ctfp', 'cwtfp', 'rgdpna', 'rconna', 'rdana', 'rkna', 'rtfpna',
       'rwtfpna', 'labsh', 'delta', 'xr', 'pl_con', 'pl_da', 'pl_gdpo',
       'i_cig', 'i_xm', 'i_xr', 'i_outlier', 'cor_exp', 'statcap', 'csh_c',
       'csh_i', 'csh_g', 'csh_x', 'csh_m', 'csh_r', 'pl_c', 'pl_i', 'pl_g',
       'pl_x', 'pl_m', 'pl_k'],
      dtype='object')

**6.** List the values in the column 'Country Name'.You will get a list with repeated values, **delete all duplicates** to ease your analysis. <br/>

*Tip: There is a method in the pandas library that allows to do this easily.*

In [9]:
# Use methods unique() and tolist() in "Country Name" column of the wdi DataFrame
# unique() -> returns a ndarray with all the unique values of "Country Name" column
# tolist() -> converts the ndarray to a list
wdi["Country Name"].unique().tolist()

['Africa Eastern and Southern',
 'Africa Western and Central',
 'Arab World',
 'Caribbean small states',
 'Central Europe and the Baltics',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Middle East & North Africa',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle income',
 'North America',
 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (excluding high income)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Upper middle income',
 'World',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

You might notice that while the bottom rows represent Countries, the top rows represent aggregates of countries (e.g., world regions). <br/> However we are only interested in **working with country-level data**, and as such we need to filter out all the unnecessary rows.

**7.** Save all the values of column 'Country Name' in a variable called **cnames**. <br/>

In [10]:
# Save the column "Country Name" values in a variable called cnames
cnames = wdi['Country Name']

**7.1.** Delete all duplicate values.<br>

In [11]:
# Overwrite the cnames variable without the duplicated values with unique() method
cnames = cnames.unique()

**7.2.** Print the names that do not represent countries.

In [12]:
# Check the index where the aggregates of countries end in the list with cnames items
# By observation we dicovered that "World" was the last aggregate of countries
index = cnames.tolist().index("World")

# Print the names that do not represent countries, slicing the ndarray until "World" that represents the 49th item
print(cnames[:index+1])

['Africa Eastern and Southern' 'Africa Western and Central' 'Arab World'
 'Caribbean small states' 'Central Europe and the Baltics'
 'Early-demographic dividend' 'East Asia & Pacific'
 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD countries)' 'Euro area'
 'Europe & Central Asia' 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD countries)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & the Caribbean (IDA & IBRD countries)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD countries)' 'Middle income'
 'North America' 'Not classified' 'OECD members' 'Other small states'
 'Pacific island small states' 'Post-demographic dividend'
 'Pre-demographic dividend' 'Small states' 'South Asia'
 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD countries)' 'Upper middle income' 'World']

You can take advantage of the structure of the dataset to realize that aggregates (Continents, Regions, etc) are all located on the top of the series 'cnames'. Moreover, since the series is small you can easily validate this assumption manually and then use that information to extract a slice of all the entries that represent non-countries entities.<br/>

**8.** In the next cell filter out, from **wdi**, the rows in which 'Country Name' represents an aggregate of countries.<br/>

In [13]:
# Select the contries in the cnames array
countries = cnames[index+1:]
# Filter the countries in "Country Name" column with isin() method
# isin() -> checks if each element in "Country Name" column is contained in the countries array
wdi = wdi[wdi["Country Name"].isin(countries)]

**9.** Check that the top of the **wdi** dataframe now only has countries and not aggregates of countries.

In [14]:
# Check the top of the df with head() method 
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
70658,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.800000,26.100000,27.400000,28.600000,29.700000,30.900000,31.900000,33.200000,NaN,NaN
70659,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.100000,10.200000,11.100000,12.200000,13.000000,13.850000,15.100000,15.900000,NaN,NaN
70660,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.700000,77.600000,78.800000,79.700000,80.900000,81.600000,82.300000,82.600000,NaN,NaN
70661,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.290649,89.500000,71.500000,97.699997,97.699997,96.616135,97.699997,97.699997,NaN,NaN
70662,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.566135,86.500511,64.573357,97.099358,97.091972,95.586174,97.075630,97.066711,NaN,NaN

**10.** Reset the indexes of **wdi**. Perform this operation inplace.

In [15]:
# Reset indexes of wdi with the reset_index method followed by the drop and inplace arguments
# reset_index() -> moves the existing index into a new column, and assigns a new integer-based index to the DataFrame
# drop=True -> removes the old index, rather than being added as a new column
# inplace=True -> modifies the DataFrame directly
wdi.reset_index(drop=True, inplace=True)

**11.** Show that the indexes have been reseted.

In [16]:
wdi

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,24.800000,26.100000,27.400000,28.600000,29.700000,30.900000,31.900000,33.200000,NaN,NaN
1,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.100000,10.200000,11.100000,12.200000,13.000000,13.850000,15.100000,15.900000,NaN,NaN
2,Afghanistan,AFG,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.700000,77.600000,78.800000,79.700000,80.900000,81.600000,82.300000,82.600000,NaN,NaN
3,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.290649,89.500000,71.500000,97.699997,97.699997,96.616135,97.699997,97.699997,NaN,NaN
4,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.566135,86.500511,64.573357,97.099358,97.091972,95.586174,97.075630,97.066711,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312909,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312910,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.700000,NaN,NaN,NaN,5.418352,NaN,NaN,NaN
312911,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33.500000,32.400000,NaN,NaN,NaN,33.658057,NaN,NaN,NaN
312912,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.100000,59.400000,59.500000,59.700000,59.900000,60.100000,60.300000,60.500000,60.7,NaN
312913,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,20000.000000,19000.000000,17000.000000,15000.000000,13000.000000,10000.000000,8600.000000,7700.000000,6800.0,NaN

*Note that when reseting the index, pandas appends a new column at the begining of the data frame, which holds the previous index values.*

## Indicator Codes and Indicator Name

**12.** Select the columns 'Indicator Name' and 'Indicator Code'.Then, delete all the duplicates, and print the top 5 and bottom 5 values. <br/>

*Note: You should be able to do everything in a single line of code for the top 5 values and a single line for the bottom 5 values.*

In [17]:
# Select the columns "Indicator Name" and "Indicator Code", without duplicate values and print the fisrt and last 5 lines
# loc[] -> Acess specific subset of data in a DataFrame
# drop_duplicates() -> removes duplicate rows from a DataFrame
# tail() -> returns the last 5 rows (or elements for a Series) by default of the DataFrame or Series
print(f"First 5 lines:\n {wdi.loc[:, ['Indicator Name', 'Indicator Code']].drop_duplicates().head()}\n")
print(f"Last 5 lines:\n {wdi.loc[:, ['Indicator Name', 'Indicator Code']].drop_duplicates().tail()}")

First 5 lines:
                                       Indicator Name     Indicator Code
0  Access to clean fuels and technologies for coo...     EG.CFT.ACCS.ZS
1  Access to clean fuels and technologies for coo...  EG.CFT.ACCS.RU.ZS
2  Access to clean fuels and technologies for coo...  EG.CFT.ACCS.UR.ZS
3            Access to electricity (% of population)     EG.ELC.ACCS.ZS
4  Access to electricity, rural (% of rural popul...  EG.ELC.ACCS.RU.ZS

Last 5 lines:
                                          Indicator Name     Indicator Code
1437  Women who believe a husband is justified in be...     SG.VAW.REFU.ZS
1438  Women who were first married by age 15 (% of w...  SP.M15.2024.FE.ZS
1439  Women who were first married by age 18 (% of w...  SP.M18.2024.FE.ZS
1440  Women's share of population ages 15+ living wi...  SH.DYN.AIDS.FE.ZS
1441  Young people (ages 15-24) newly infected with HIV     SH.HIV.INCD.YG

**13.** Create a new DataFrame named **indicators** made up of the columns 'Indicator Name' and 'Indicator Code'. Then, delete all the duplicated entries. Finally, set the column 'Indicator Code' as the index of **indicators**. 

*Note: Try to perform all these steps in a single line of code.*

In [18]:
# Create a DataFrame called indicators with the column "Indicator Name" and the column "Indicator Name" as index without duplicate values
# set_index() -> replace this default index with the values from one or more columns
indicators = wdi.loc[:, ["Indicator Name", "Indicator Code"]].drop_duplicates().set_index('Indicator Code')

**The 'indicators' DataFrame can operate now as a dictionary. <br/>**
By passing an 'Indicator Code' (key) it returns the associated 'Indicator Name' (value).<br/>

**14.** Using the **indicators** DataFrame, find the 'Indicator Code' associated with the following observables:
1. 'Population', find the 'Indicator Code' of the total population in a country;
2. 'GDP', find the GDP measured in current US Dollars;
3. 'GINI index'

*Hint: You can use the method STRING.str.contains('substring') to check whether a string contains a substring.*

In [19]:
# By the observation of the indicators DataFrame and the csv file we discovered the exact substring that relates to the total population in a country, GDP measured in current US Dollars and GINI index 
# str.contains('substring') -> checks for each element in the Series whether it contains the substring
# index[0] is used to extract the "Indicator Code" (key) 
pop = indicators[indicators['Indicator Name'].str.contains("Population, total")].index[0]

In [20]:
gdp = indicators[indicators['Indicator Name'].str.contains("GDP \(current US\$\)")].index[0]

In [21]:
gini = indicators[indicators['Indicator Name'].str.contains("Gini index")].index[0]

## Extracting and Cleaning Data from WDI and PWT

**15.** From **wdi** extract the columns 'Indicator Code', 'Country Code', and '2012'.
Save the output in variable **wdi_sample**.

*Note: You should be able to perfom all operations in a single line of code. <br/>*

In [22]:
# Extract the columns 'Indicator Code', 'Country Code', and '2012' from wdi DataFrame to a variable called wdi_sample
wdi_sample = wdi.loc[:, ['Indicator Code', 'Country Code', '2012']]

**16.** Select from **wdi_sample** the lines associated with all the Indicator Codes that you found above, which concern the data of the 'GINI index', 'GDP', and 'Population total'.

In [23]:
# Create a list with the indicator codes (keys)
keys = [pop, gdp, gini]
# Overwrite the wdi_sample variable with the data filtered by the associated Indicator Code found above
wdi_sample = wdi_sample[wdi_sample['Indicator Code'].isin(keys)]

**17.** Create a pivot table, in which **values** are the column '2012', the **index** is the 'Country Code', and the **columns** are the Indicator Codes. <br/>

*Hint: Pandas has a very useful method to create pivot tables.*

In [24]:
# Use pivot_table() method to create a pivot table in which values are from '2012' column, the index is the 'Country Code', and the column names are the Indicator Codes
wdi_sample = wdi_sample.pivot_table(values='2012', index='Country Code', columns='Indicator Code')
# By this time we have a DataFrame organized with:
    # Country Code as index
    # Indicator Code as our columns 
    # Data from year 2012

**18.** Rename the column names of **wdi_sample** to 'Population', 'GDP', and 'GINI', accordingly.

In [25]:
# Rename the columns with the Indicator Code to 'Population', 'GDP', and 'GINI', accordingly, using rename() method
# rename() -> rename the columns or index labels of a DataFrame
wdi_sample.rename(columns = {"NY.GDP.MKTP.CD":'GDP', "SI.POV.GINI":"GINI", "SP.POP.TOTL":'Population'}, inplace = True)

**19.** From **pwt** select only the values of the year 2012. <br/>
Then, extract the columns 'countrycode' and 'hc' into a new variable **pwt_sample**. <br/>
Rename 'countrycode' to 'Country Code', so that it matches the same column in **wdi_sample**<br/>

*Note: in this case 'hc' stands for the Human Capital Index.<br/>*

In [26]:
# From pwt DataFrame select the values of the year 2012 in "countrycode" and "hc" columns with srt.contains() method
# We chose to use this method because we needed to define the type of "year" column as string, since it was as integer (analyzing pwt.dtypes)
pwt_sample = pwt[pwt['year'].astype(str).str.contains("2012")].loc[:, ['countrycode', "hc"]]
# Rename the column "countrycode" to "Country Code"
pwt_sample.rename(columns = {"countrycode":"Country Code"}, inplace = True)

**20.** Finally, create a new dataframe named **data** that contains the columns from **wdi_sample** and **pwt_sample**, matched by 'Country Code'. 

*Hint: Use the method concat(), and make sure both dataframes have the same index ('Country Code').*

In [27]:
# Create a new DataFrame containing the data in pwt_sample and wdi_sample using concat pandas function

# Here we set the index as "Country Code" so we can concat the both pwt_sample and wdi_sample more easily
pwt_sample = pwt_sample.set_index("Country Code")
# concat() -> concatenate DataFrames. It allows us to combine DataFrames either along rows (axis 0) or columns (axis 1)
data = pd.concat([wdi_sample, pwt_sample], axis = 1)
# Here we chose to give a "title" to our columns explaining that they have the data from year 2012
data = data.rename_axis(columns='Data from 2012')

# As we know the pwt_sample and the wdi_sample don´t have the same number of rows because pwt have missing data
# We investigated how the missing data will be concatenate and by checking the Country Code "CUB" we found that the missing 
# countries in pwt will have NaN in the "hc" data DataFrame column by default when we concatenate them

# <span style="color:brown"> Part 3 - Analysing a Dataset </span>

**21.** Perform the necessary manipulations to answer the following questions, unless otherwise stated you can use the country codes to represent the countries in your solutions:
1. Which countries have a **population size of 10 million habitations +/- 1 million**?
2. What is  the **average** and the **standard deviation in GDP** of countries listed in 1?
3. What is  the **average** and the **standard deviation in the GDP per capita** of countries listed in 1?
4. Consider the following classification of country size: <br/>
    Tiny - population < 1 000 000 <br/>
    Very Small - 1 000 000 <= population < 5 000 000 <br/>
    Small - 5 000 000 <= population < 15 000 000 <br/>
    Medium - 15 000 000 <= population < 30 000 000 <br/>
    Large - 30 000 000 <= population < 100 000 000 <br/>
    Huge - 100 000 000 <= population <br/>
   What is  the **average** and the **standard deviation in the GDP per capita of countries in each size classification**?   
5. Create a **function** that will take a dataframe and a column name, and **return** a series with binary values indicating whether the **values from the column are above the mean value of that column** (indicated with a value of 1 or 0 otherwise). If the value in the column is missing (NaN) the value in the series should also be missing (NaN). Test your function. *Hint:* search how to check if something is None so that we can return None. <br/>
6. What is the **average GDP per capita of the countries after being grouped by size classification and whether or not the human capital is above average**? 
7. What is the **average GDP per capita of countries after being grouped by whether or not the human capital is above average and whether or not the gini coefficient is above average?**
8. What is the **name of the country** that has the **highest GDP per capita + a Gini coefficient below average and a level of human capital below average**?
9. What is the **name of the country** that has the **highest GDP per capita + a Gini coefficient below average for its size classification and a level of human capital below average for its size classification**?
10. What is the **name of the country** that has the **largest % increase in GDP between 1980 and 2010?** *HINT: You will need to use the wdi dataframe.*

Write the code necessary to answer each question in a single cell. <br/>
Print the answer at the end of that cell.

In [28]:
#1

# We chosed the country codes to represent the countries in our solutions!

# Boolean condition to extract the data with countries that have a population size of 10 million habitations +/- 1 million
# Since the index of data are Country Codes we can perform .index attribute to obtain our result
pop_10mil_index = data[(data["Population"] > 9000000) & (data["Population"] < 11000000)].index

print(f"The list of the countrys that have population size of 10 million habitations +/- 1 million are: {pop_10mil_index.tolist()}")

The list of the countrys that have population size of 10 million habitations +/- 1 million are: ['AZE', 'BDI', 'BEN', 'BLR', 'BOL', 'CZE', 'DOM', 'GIN', 'HTI', 'HUN', 'PRT', 'RWA', 'SSD', 'SWE']

In [29]:
#2

# Select the rows with the labels found in 1 in the "GDP" column and calculate the mean and standart deviation

# mean() -> method that calculates the mean (average) of the values in the selected column
# std() -> method that calculates the standard deviation of the values in the selected column
mean_gdp = data.loc[pop_10mil_index, "GDP"].mean()
stdev_gdp = data.loc[pop_10mil_index, "GDP"].std()
print(f"The average in GDP of countries listed in 1 is: {mean_gdp} US$\nThe standart deviation in GDP of countries listed in 1 is: {stdev_gdp} US$")

The average in GDP of countries listed in 1 is: 98851346744.45462 US$
The standart deviation in GDP of countries listed in 1 is: 149245940074.66046 US$

In [30]:
#3

#Create a new column called "GDP per capita" that calculates de GDP per capita, GDP divided by Population

#This is performing element-wise division between the values in the "GDP" column and the "Population" column
data["GDP per capita"] = data["GDP"] / data["Population"]

#Select the rows with the labels found in 1 in the "GDP per capita" column created before and calculate the mean and standart deviation
mean_gdp_per_capita = (data.loc[pop_10mil_index, "GDP per capita"]).mean()
stdev_gdp_per_capita = (data.loc[pop_10mil_index, "GDP per capita"]).std()

print(f"The average in GDP per capita of countries listed in 1 is: {mean_gdp_per_capita} US$\nThe standart deviation in GDP per capita of countries listed in 1 is: {stdev_gdp_per_capita} US$")

The average in GDP per capita of countries listed in 1 is: 9982.43842280551 US$
The standart deviation in GDP per capita of countries listed in 1 is: 15473.803230921145 US$

In [31]:
#4

# Create a function to alocate the Country Size to each country based on they population size
def country_size_filter(x):
    """
    Categorizes countries based on their population size
    
    Parameters
    ----------
    x: int or float
        Population size of a country
        
    Returns
    ---------
    str: A string indicating the size category of the country
        Possible values: "Tiny", "Very Small", "Small", "Medium", "Large", "Huge"
    """
    if x < 1000000:
        return "Tiny"
    elif x < 5000000:
        return "Very Small"
    elif x < 15000000:
        return "Small"
    elif x < 30000000:
        return "Medium"
    elif x < 100000000:
        return "Large"
    else:
        return "Huge"   

# Create a new column "Country Size" applying to each element of "Population" country_size_filter funcion
data["Country Size"] = data["Population"].apply(country_size_filter)

# Group the data by the size categories, calculating the mean and standart deviation of GDP per capita for each group
# grouby() -> pandas method that group DataFrame rows together based on one or more columns and can be used to compute operations on these groups.
mean_GDP_per_capita_per_country = data.groupby("Country Size")["GDP per capita"].mean()
std_GDP_per_capita_per_country = data.groupby("Country Size")["GDP per capita"].std()

print(f"Average in the GDP per capita of countries in each size classification:\n\n{mean_GDP_per_capita_per_country}\n\nStandard deviation in the GDP per capita of countries in each size classification:\n\n{std_GDP_per_capita_per_country}")

Average in the GDP per capita of countries in each size classification:

Country Size
Huge          14106.483034
Large         13169.183311
Medium         8894.046643
Small         16501.754630
Tiny          28173.577452
Very Small    14143.764480
Name: GDP per capita, dtype: float64

Standard deviation in the GDP per capita of countries in each size classification:

Country Size
Huge          18628.054216
Large         15601.727837
Medium        16312.507343
Small         23701.728931
Tiny          36335.068274
Very Small    18407.134058
Name: GDP per capita, dtype: float64

In [32]:
#5 

def func_above_average_binary(df, col_name):
    """
    Assigns binary values based on whether elements in a DataFrame column 
    are above the column's mean value
    
    Parameters
    ----------
    df: pandas.DataFrame
        The DataFrame containing the target column.
        
    col_name: str
        The name of the target column.
        
    Returns
    -----------
    pandas.Series: A binary Series with 1s for values above the column's mean 
    and 0s for values equal to or below the mean. Missing values are replaced with NaN.
    """
    # Apply a function to each element in the column specified by 'col_name'
    # The function checks if the element is NaN, and if so, returns NaN
    # Otherwise, it compares the element to the mean of the column
    # If the element is greater than the mean, it returns 1; otherwise, it returns 0
    return df[col_name].apply(lambda x: np.nan if pd.isna(x) else (1 if x > df[col_name].mean() else 0))

# Testing the function
print(func_above_average_binary(data, "GDP"))

Country Code
ABW    0.0
AFG    0.0
AGO    0.0
ALB    0.0
AND    0.0
      ...
ZMB    0.0
ZWE    0.0
AIA    NaN
MSR    NaN
TWN    NaN
Name: GDP, Length: 220, dtype: float64

In [33]:
#6

# Group the DataFrame 'data' by: "Country Size" and whether or not the human capital is above average
# obtained from applying the function 'func_above_average_binary' to the column 'hc'.
# Calculate the mean of the "GDP per capita" for each group.
# We don´t need to specify the dropna=True, groupby already has in defalut this argument 
result = data.groupby(["Country Size", func_above_average_binary(data, "hc")])["GDP per capita"].mean()

print(result)

Country Size  hc
Huge          0.0     2686.227455
              1.0    27810.789730
Large         0.0     3674.566136
              1.0    24235.276159
Medium        0.0     1323.697495
              1.0    19398.142872
Small         0.0     3081.423432
              1.0    33784.346526
Tiny          0.0     7447.432572
              1.0    41094.901824
Very Small    0.0     9522.938477
              1.0    19089.144112
Name: GDP per capita, dtype: float64

In [34]:
#7

# Group the DataFrame 'data' by two sets of whether or not the human capital and GINI index are above average.
# The first set is obtained from applying the function 'func_above_average_binary' to the column 'hc'.
# The second set is obtained from applying the function 'func_above_average_binary' to the column 'GINI'.
# Calculate the mean of the "GDP per capita" for each group.
result = data.groupby([func_above_average_binary(data, "hc"), func_above_average_binary(data, "GINI")])["GDP per capita"].mean()

print(result)

hc   GINI
0.0  0.0      6090.769470
     1.0      4350.769217
1.0  0.0     32178.530201
     1.0     12566.243331
Name: GDP per capita, dtype: float64

In [35]:
#8

# The conditions mean that we are extracting the data associated to the values of "hc" and "GINI" columns that are below avarage
# ==0, because in our function we defined below average by zero
data_bellow_average = data[(func_above_average_binary(data, "hc")==0) & (func_above_average_binary(data, "GINI")==0)]
# To get the result:
    # We sorted our data_bellow_average by the "GDP per capita" column in ascending order, so 
    # the highiest GDP per capita stays in the last index  
data_bellow_average = data_bellow_average.sort_values(by="GDP per capita")
# Here we just selected the index -1 and the label name whitch is our final result
result = data_bellow_average.iloc[-1].name

print(f"The name of the country that has the highest GDP per capita in this conditions is {result}.")

The name of the country that has the highest GDP per capita in this conditions is PRT.

In [36]:
#9

# Create an empty list to store indexes for later use
data_indexes = []
# Create a DataFrame with the mean values of "GINI" and "hc" for each "Country Size" group
df_mean_gini_hc_per_CountrySize = data.groupby("Country Size")[["GINI", "hc"]].mean()
# Iterate through each row in the DataFrame
for lab, row in data.iterrows():
    # Check conditions for GINI and hc values against their respective means for the corresponding "Country Size"
    # data.loc[lab, Country Size] is used to identify in our "df_mean_gini_hc_per_GroupSize", "GINI" or "hc" values by their Country Size
    if data.loc[lab, "GINI"] < df_mean_gini_hc_per_CountrySize.loc[data.loc[lab, "Country Size"],"GINI"] and\
    data.loc[lab, "hc"] < df_mean_gini_hc_per_CountrySize.loc[data.loc[lab, "Country Size"],"hc"]:
        # Add the indexes that respects our conditions
        data_indexes.append(lab)
# Find the index (Country Code) with the highest "GDP per capita" among the selected indexes
# idxmax() -> method in pandas that in this case returns the index label of the maximum value in "GDP per capita" Series
result = data.loc[data_indexes, "GDP per capita"].idxmax()

print(f"The name of the country that has the highest GDP per capita in this conditions is {result}.")

The name of the country that has the highest GDP per capita in this conditions is IRQ.

In [37]:
#10

# Filter the DataFrame to include only rows with 'Indicator Code' equal to gdp defined in exercise 14,
# then set 'Country Code' as the new index, so we can identify our Country Code later
wdi_gdp_sample = wdi[wdi['Indicator Code'].isin([gdp])].set_index('Country Code')
# Select only the necessary years without NaN values
# dropna() -> method from pandas that remove missing (NaN) values from a DataFrame
wdi_gdp_sample = wdi_gdp_sample.loc[:, ["1980","2010"]].dropna()
# Create a new column with the percentage increase in GDP: (GDP in 2010/GDP in 1980)/GDP in 1980 * 100
wdi_gdp_sample["% gdp increase"] = (wdi_gdp_sample["2010"]-wdi_gdp_sample["1980"])/wdi_gdp_sample["1980"]*100
# Find the index (Country Code) with the highest % GDP increase with idxmax()
result = wdi_gdp_sample.loc[:, "% gdp increase"].idxmax()

print(f"The name of the country that has the largest % increase in GDP between 1980 and 2010 is {result}.")

The name of the country that has the largest % increase in GDP between 1980 and 2010 is GNQ.